@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --darkblue: hsl(234, 12%, 34%);
    --greyblue: hsl(229, 6%, 66%);
    --ltgrey: hsl(0, 0%, 98%);
    --section-padding: 0.8rem 2rem 0 2rem;
}

#home-body {
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-size: 15px;
}
    h1 {
        font-weight: 700;
    }
    p {
        font-size: 0.85rem;
        font-weight: 200;
    }
    img {
        float: right;
        margin-top: 1rem;
    }

@media (max-width: 1500px) {
.home-grid {
    margin: 1rem 10rem 1rem 10rem;
    display: grid;
    grid-gap: 0.8rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "grid-header-1 grid-header-2 grid-header-3"
                         "supervisor teambuilder calculator"
                         "supervisor karma calculator";
}
    .home-grid section {
        background-color: white;
        height: 15rem;
        width: 22rem;
        border-radius: 0.3rem;
        padding: var(--section-padding);
        box-shadow: 0.1rem 0.1rem 0.4rem grey;
    }
        .home-header {
            grid-area: grid-header-2;
            height: 10rem;
            width: 22rem;
            margin-top: 5rem;
            text-align: center;
        }
            .home-header h1 {
                font-weight: 400;
                font-size: 1.5rem;
            }
            .home-header span {
                font-weight: 700;
            }

        .supervisor {
            grid-area: supervisor;
            border-top: 0.3rem var(--cyan) solid;
            margin-top: 9rem;
        }    
    
        .team-builder {
            grid-area: teambuilder;
            border-top: 0.3rem var(--red) solid;
        }    
    
        .karma {
            grid-area: karma;
            border-top: 0.3rem var(--orange) solid;
        }

        .calculator {
            grid-area: calculator;
            border-top: 0.3rem var(--blue) solid;
            margin-top: 9rem;
        }
}

@media (max-width: 56.25rem) {
.home-grid {
    width: 95%;
    margin: auto;
    display: grid;
    box-shadow: 0.1rem 0.1rem 0.2rem var(--greyblue);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-areas: "grid-header" "supervisor" "teambuilder" "calculator" "karma";
}
    .home-grid section {
        margin: 1rem 0 0 3.8rem;
        box-shadow: 0.5rem 0.5rem 1rem var(--darkblue);
    }

    .home-grid header {
        margin-left: 3.8rem;
    }

        .home-header {
            grid-area: grid-header;
            text-align: center;
        }

        .supervisor {
            grid-area: supervisor;
            border-top: 0.3rem var(--cyan) solid;
        }    
    
        .team-builder {
            grid-area: teambuilder;
            border-top: 0.3rem var(--red) solid;
        }    
    
        .karma {
            grid-area: karma;
            border-top: 0.3rem var(--orange) solid;
        }

        .calculator {
            grid-area: calculator;
            border-top: 0.3rem var(--blue) solid;
        }
}